<header class="header-info">
	<h3 class="header-message"><i class="fas fa-headset fa-lg"></i>24x7 live support</h3>
	<h3 class="header-message"><i class="fas fa-truck-moving fa-lg"></i>Free Shipping on order over 500</h3>			

	
	<div class="user-info">
	{{#if user.email}}
	<form action="/logout" method="get">
		<button type="submit"> Logout </button>
	</form>
	<small>{{user.email}}</small>
	{{else}}
	<a href="/login"><button>Log in</button></a>
	{{/if}}
	</div>
	
</header>