<head>
	<title> {{title}} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="description" content="Company devotate to web commerce">
	<meta name="keywords" content="Sites, Marketing, e-commerce">
	<meta name="author" content="Henrique Augusto, Mathews Alves, Rodolffo Teles, Carlos Alberto, Davi Graça">
	<link rel="stylesheet"  href="/css/{{style}}.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>


