<nav class="logo-nav">
	<a href="/"><img src="/images/logoblack.png"></a>

	<div href="#" class="cart"><i class="fas fa-shopping-cart"></i>CART
		<form class="cart-content">
			<h3 class="header-cart-content"> Shopping List </h3>
			<ul class="cart-list">
				
			</ul>
			<div id="value-cart">Total = $0,00</div>
			<button class="checkout-button" type="submit">Checkout</button>
		</form>
	</div>
</nav>