<nav class="logo-nav">
	<a href="/"><img src="/images/logoblack.png"></a>

	<div href="#" class="cart"><i class="fas fa-shopping-cart"></i>CART
		<div class="cart-content">
			<h3 class="header-cart-content"> Shopping List </h3>
			<table class="cart-list" align="right">
				
			</table>
			<div id="value-cart">Total = $0,00</div>
			<a href="/checkout"><button>Checkout</button></a>
		</div>
	</div>
</nav>