<!DOCTYPE html>
<html lang="pt-br">
<head>
	{{>head title='Login' style='account'}}
</head>
<body>
	<header class="header-info">
  <h3 class="header-message"><i class="fas fa-headset fa-lg"></i>24x7 live support</h3>
  <h3 class="header-message"><i class="fas fa-truck-moving fa-lg"></i>Free Shipping on order over 500</h3>      
  </header>

	<main class="content-wrapper">
    {{#if invalid}}
    <div class="alert-danger">
      Password or email invalid
    </div>
    {{/if}}

    <div class="login-pannel">
      <h1>Welcome to <a href="/">Shop Net</a></h1>
      <p>Please enter your details</p>

      <form action="/login" method="post">
        <input type="hidden" name="_csrf" value="{{ token }}"></input>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required >
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" id="pwd" name="password" required>
        </div>
         <button type="submit">Log in</button>
      </form>

      <a href="/signup">Sign up</a>
    </div>
	</main>
</body>
</html>
