<!DOCTYPE html>
<html lang="pt-br">
<head>
	{{>head title='Login' style='login'}}
</head>
<body>
	{{> header }}
	<main class="content-wrapper">
        <div class="login-pannel">
            <h1>Welcome to <span>Shop00</span></h1>
            <p>Please enter your details</p>

            <form action="" method="post">
              <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" id="email" required >
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" required>
              </div>
               <button type="submit">Log in</button>
            </form>
        </div>
	</main>
</body>
</html>
