* {
  margin: 0; 
  padding: 0; 
  font-size: 100%;  
  font-family: 'Lato', 
  sans-serif; 
  font-weight: 300; 
  box-sizing: border-box; 
  border: none; 
  outline: none;
}

.logo-nav{
  width: 100%;
  min-height: 90px;
  border-bottom: 1px solid #bfb4b4;
}

.logo-nav a img{
  float: left;
  width: 100px;
  margin-left: 90px;
}

.logo-nav button{
  float: right;
  margin-top: 35px;
  margin-right: 35px;
}

button {
  display: block;
  cursor: pointer;
  width: 70%;
  max-width: 150px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #111;
  border-radius: 3px;
  padding: 3px 2px;
  margin: 3px auto;
}

.crud-section {
    border: 1px solid;
    padding: 10px;
    margin: 10px auto;
    max-width: 700px;
}

.crud-section h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.crud-section input[type="text"], input[type="number"] {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.crud-section input[type="file"] {
  margin-bottom: 10px;
}

.crud-section textarea {
  border: 1px solid;
  width: 100%;
  max-width: 675px;
  margin-bottom: 10px;
}

.crud-section table {
    border-collapse: collapse;
    width: 100%;
}

.crud-section th, .crud_section td {
    padding: 8px;
    text-align: left;
}

.crud-section tr {
  border-bottom: 1px solid #000;
}

.crud-section tr:last-child {
  border-bottom: none;
}