* {
	margin: 0; 
	padding: 0;
	font-size: 100%;  
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	box-sizing: border-box; 
	border: none; 
	outline: none;
}

.header-info{
	width: 100%;
	min-height: 45px;
	background-color: #f97e77;
	float: left;
}

.header-info .header-message{
	color: #fff;
	float: left;
	display: inline-block;
	margin-left: 90px;
	font-weight: 400;
	font-size: 15px;
	margin-top: 10px;
}

.header-info .header-message i{
	margin-right: 10px;

}

.content-wrapper{
	position: absolute;
    width: 100%;
}

/* Login */
.login-pannel {
	position: relative;
	top: 160px;
	margin: auto;
	width: 400px;
	padding: 20px 30px;
	background-color: #f97e77;
    border: 2px solid #44525d;
}

.login-pannel h1 {
    color: #fff;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 30px;
}

.login-pannel h1>span {
    color: #111;
    font-size: 2.9rem;
}

.login-pannel p {
    font-weight: 400;
    color: #fff;
   	margin-bottom: 20px;
}

form label {
	color: #111;
}

form input {
	padding: 5px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 400;
	border-radius: 2px;
	margin-bottom: 10px;
}

form input[type="password"] {
  	margin-left: 27px;
}

button {
  display: block;
  cursor: pointer;
  width: 70%;
  max-width: 150px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #111;
  border-radius: 3px;
  padding: 3px 2px;
  margin: 3px auto;
}